<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GameHelp_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,876},{134,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,50}}</string>
                <key>sourceSize</key>
                <string>{134,50}</string>
            </dict>
            <key>GameHelp_touched.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,876},{134,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,50}}</string>
                <key>sourceSize</key>
                <string>{134,50}</string>
            </dict>
            <key>GameOver_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,876},{134,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,50}}</string>
                <key>sourceSize</key>
                <string>{134,50}</string>
            </dict>
            <key>GameOver_touched.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,876},{134,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,50}}</string>
                <key>sourceSize</key>
                <string>{134,50}</string>
            </dict>
            <key>GameScore_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,647},{134,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,50}}</string>
                <key>sourceSize</key>
                <string>{134,50}</string>
            </dict>
            <key>GameScore_touched.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,879},{134,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,50}}</string>
                <key>sourceSize</key>
                <string>{134,50}</string>
            </dict>
            <key>ReturnGame_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,879},{134,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,50}}</string>
                <key>sourceSize</key>
                <string>{134,50}</string>
            </dict>
            <key>ReturnGame_touched.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,647},{134,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,50}}</string>
                <key>sourceSize</key>
                <string>{134,50}</string>
            </dict>
            <key>StartGame_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,880},{134,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,50}}</string>
                <key>sourceSize</key>
                <string>{134,50}</string>
            </dict>
            <key>StartGame_touched.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,880},{134,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,50}}</string>
                <key>sourceSize</key>
                <string>{134,50}</string>
            </dict>
            <key>backgroundAnimate1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,703},{280,391}}</string>
                <key>offset</key>
                <string>{78,-158}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,327},{280,391}}</string>
                <key>sourceSize</key>
                <string>{436,729}</string>
            </dict>
            <key>backgroundAnimate2.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{418,643}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,41},{418,643}}</string>
                <key>sourceSize</key>
                <string>{436,729}</string>
            </dict>
            <key>backgroundAnimate3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{424,699}}</string>
                <key>offset</key>
                <string>{6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{424,699}}</string>
                <key>sourceSize</key>
                <string>{436,729}</string>
            </dict>
            <key>backgroundAnimate4.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{422,591}}</string>
                <key>offset</key>
                <string>{5,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{422,591}}</string>
                <key>sourceSize</key>
                <string>{436,729}</string>
            </dict>
            <key>bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,984},{38,38}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>bomb_direct.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,998},{18,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,66}}</string>
                <key>sourceSize</key>
                <string>{18,66}</string>
            </dict>
            <key>bomb_rect.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,647},{40,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,53}}</string>
                <key>sourceSize</key>
                <string>{40,53}</string>
            </dict>
            <key>bomb_timed.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,985},{30,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,76}}</string>
                <key>sourceSize</key>
                <string>{30,76}</string>
            </dict>
            <key>boss.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,876},{120,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,175}}</string>
                <key>sourceSize</key>
                <string>{120,175}</string>
            </dict>
            <key>boss_down1.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,699},{120,173}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,173}}</string>
                <key>sourceSize</key>
                <string>{120,175}</string>
            </dict>
            <key>boss_down2.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,699},{120,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,175}}</string>
                <key>sourceSize</key>
                <string>{120,175}</string>
            </dict>
            <key>boss_down3.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,699},{120,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,175}}</string>
                <key>sourceSize</key>
                <string>{120,175}</string>
            </dict>
            <key>boss_down4.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,702},{120,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,175}}</string>
                <key>sourceSize</key>
                <string>{120,175}</string>
            </dict>
            <key>boss_down5.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,703},{120,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,175}}</string>
                <key>sourceSize</key>
                <string>{120,175}</string>
            </dict>
            <key>bullet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,984},{12,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,30}}</string>
                <key>sourceSize</key>
                <string>{12,30}</string>
            </dict>
            <key>bullet2.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,595},{30,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,29}}</string>
                <key>sourceSize</key>
                <string>{30,29}</string>
            </dict>
            <key>bullet3.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,985},{9,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,31}}</string>
                <key>sourceSize</key>
                <string>{9,31}</string>
            </dict>
            <key>bullet4.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,985},{5,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,36}}</string>
                <key>sourceSize</key>
                <string>{5,36}</string>
            </dict>
            <key>bulletCarrier.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,647},{30,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,53}}</string>
                <key>sourceSize</key>
                <string>{30,53}</string>
            </dict>
            <key>call.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,647},{28,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{28,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>copper.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,985},{35,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,38}}</string>
                <key>sourceSize</key>
                <string>{35,38}</string>
            </dict>
            <key>enemyBullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,998},{12,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,28}}</string>
                <key>sourceSize</key>
                <string>{12,28}</string>
            </dict>
            <key>enemy_timed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1243,647},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>game_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{1243,595},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>game_musicPause.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,968},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>game_pause_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,985},{36,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{36,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>game_pause_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,849},{46,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>game_resume_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,973},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>game_resume_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,973},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{46,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,985},{35,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,38}}</string>
                <key>sourceSize</key>
                <string>{35,38}</string>
            </dict>
            <key>plane_hide.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,985},{30,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,57}}</string>
                <key>sourceSize</key>
                <string>{30,57}</string>
            </dict>
            <key>rescue1.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,985},{30,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,35}}</string>
                <key>sourceSize</key>
                <string>{30,35}</string>
            </dict>
            <key>rescue2.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,647},{7,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,51}}</string>
                <key>sourceSize</key>
                <string>{7,51}</string>
            </dict>
            <key>silvere.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,985},{35,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,38}}</string>
                <key>sourceSize</key>
                <string>{35,38}</string>
            </dict>
            <key>t_china1_down1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1179,691},{56,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,94}}</string>
                <key>sourceSize</key>
                <string>{56,94}</string>
            </dict>
            <key>t_china1_down2.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,595},{56,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,102}}</string>
                <key>sourceSize</key>
                <string>{56,102}</string>
            </dict>
            <key>t_china1_down3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1121,697},{56,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,96}}</string>
                <key>sourceSize</key>
                <string>{56,96}</string>
            </dict>
            <key>t_china1_down4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1063,697},{56,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,104}}</string>
                <key>sourceSize</key>
                <string>{56,104}</string>
            </dict>
            <key>t_chinaFly1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1123,595},{56,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,94}}</string>
                <key>sourceSize</key>
                <string>{56,94}</string>
            </dict>
            <key>t_chinaFly2.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,880},{56,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,102}}</string>
                <key>sourceSize</key>
                <string>{56,102}</string>
            </dict>
            <key>t_chinaFly3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,870},{56,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,96}}</string>
                <key>sourceSize</key>
                <string>{56,96}</string>
            </dict>
            <key>t_chinaFly4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,697},{56,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,104}}</string>
                <key>sourceSize</key>
                <string>{56,104}</string>
            </dict>
            <key>t_enemy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,647},{30,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,53}}</string>
                <key>sourceSize</key>
                <string>{30,53}</string>
            </dict>
            <key>t_enemy1_down1.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,647},{30,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,53}}</string>
                <key>sourceSize</key>
                <string>{30,53}</string>
            </dict>
            <key>t_enemy1_down2.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,647},{30,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,53}}</string>
                <key>sourceSize</key>
                <string>{30,53}</string>
            </dict>
            <key>t_enemy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,956},{60,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,65}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>t_enemy2_down1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1129,795},{60,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,65}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>t_enemy2_down2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,803},{60,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,66}}</string>
                <key>sourceSize</key>
                <string>{60,66}</string>
            </dict>
            <key>t_enemy2_down3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1067,803},{60,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,65}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>t_enemy3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,689},{60,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,92}}</string>
                <key>sourceSize</key>
                <string>{60,92}</string>
            </dict>
            <key>t_enemy3_down1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1191,787},{60,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,92}}</string>
                <key>sourceSize</key>
                <string>{60,92}</string>
            </dict>
            <key>t_enemy3_down2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,862},{60,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,92}}</string>
                <key>sourceSize</key>
                <string>{60,92}</string>
            </dict>
            <key>t_enemy3_down3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,595},{60,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,92}}</string>
                <key>sourceSize</key>
                <string>{60,92}</string>
            </dict>
            <key>t_enemy4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,871},{100,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,60}}</string>
                <key>sourceSize</key>
                <string>{100,60}</string>
            </dict>
            <key>t_enemy4_down1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1061,595},{100,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,60}}</string>
                <key>sourceSize</key>
                <string>{100,60}</string>
            </dict>
            <key>t_enemy4_down2.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,595},{100,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,60}}</string>
                <key>sourceSize</key>
                <string>{100,60}</string>
            </dict>
            <key>t_enemy4_down3.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,595},{100,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,60}}</string>
                <key>sourceSize</key>
                <string>{100,60}</string>
            </dict>
            <key>tyre.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,985},{32,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{32,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>add.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:857e800fa70aab697fcb3df1d0f564ef$</string>
            <key>textureFileName</key>
            <string>add.png</string>
        </dict>
    </dict>
</plist>
